/* tag selector */
/* p{

    color: red;
} */

/* idselector */

/* #id4 {
color: rgb(156, 22, 112);
} */

/* <!-- CLASSSELECTOR --> */
/* .c1{
    color: brown;
} */

/* ATTRIBUTE SELECTOR */

input[type="text"]{
    border: 5px solid rgb(176, 161, 30);
}