div{
    height: 100px;
    width: 200px;
    /* background-color:	#FF69B4 ; */
    /* rgb */
    /* margin: auto;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(255, 105, 90); */

/* rgba */
/* background-color: rgba(255,0,0,0.5); */

/* hex */
/* background-color:#ffcc00 ; */

/* HSL */
/*background-color: hsl(330, 80%, 60%); */

/* hsla */
background-color:hsla(165, 54%, 51%, 0.3);


}