body{
    background-color:#DC143C;
}

table{
    height: 100%;
    width: 100%;
}

figcaption{
font-size: x-large; 
color: white;  
font-family: cursive;
}
.c2,li{
    width: 350px;

}
div{
    display: inline-block;
}