table{
  
    height: auto;
    width:auto;
    text-align: center;
    background-color:black;
    font-size: 20px;
    border-color: rgb(235, 27, 204);
    color:white;
   
   
    
}
tr,th,td{
    padding: 1px;
   
}

caption{
    color: rgb(250, 17, 118);
    background-color: rgb(200, 205, 169);
   
}
img{
  
     height: 200px;
     width: 300px;
}
iframe{
    height: 200px;
     width: 300px;
}
}
