body{
    background-color:#ea245c;
}

table{
    height: 100%;
    width: 100%;
}

figcaption{
font-size: large; 
color: white;  
font-family: cursive; 
}
.c2,li{
    text-align: center;
    width: 350px;
    list-style-type: square;
   font-size: medium;
   font-weight:bolder;
   color: rgb(45, 38, 29);

}
.c2,h2{
    text-align: center;
    /* color: cyan; */
    text-decoration: none;
    font-display:block;
    text-shadow: 2px 2px 4px rgba(8, 4, 4, 0.5)
}

#trh1{
    text-align: center;
    color:teal;
   
    text-shadow:
          1px 1px 1px #000,
          2px 2px 1px #666,
          3px 3px 1px #999;
      
        /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
}

.c3,h2{
    text-align: center;
    color: rgb(40, 7, 48);
    text-decoration: none;
    font-display:block;
    text-shadow: 2px 2px 4px rgba(26, 21, 21, 0.5)
}

.c3,p{
    text-align: center;
    text-shadow: #9d6b6b;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    
    
}